<!-- thiyagu UI Developer author -->

<!-- main css style -->

<!-- reset style -->
body{
	margin:0;
	padding:0;
	
}





<!-- start of header css -->
.author-theme-head-top{
    color: white;
    /* padding: 1em 1em; */
    width: 100%;
    background: #2B0F22;
    margin: 0;
    padding: 0.4em 0;

}

.author-theme-head-btm{
	
	    margin: 0em 0;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #15AFE6;
	
}

.author-theme-head-btm li{
	
	
	
}

.author-theme-head-btm a{
	
	
	
}
<!-- end of header css -->